@page "/garage/{VehicleId}/refuels/{RefuelId}/edit"

@using PCS.Auth.Services
@using PCS.Business.Refuel.Services
@using PCS.Common.Entities.Models.Entities
@using PCS.Front.Shared.Services
@using PCS.Front.Components.Custom
@using PCS.Auth.Extensions
@using PCS.Front.Components.Layout
@using System.Security.Claims
@using PCS.Business.Refuel.Models.DTOs

@inject IDialogService dialogService
@inject IUserManager userManager
@inject NavigationManager navigationManager
@inject IRefuelService refuelService

<div class="mb-3">
    <div class="mb-3">
        <span class="fw-semibold">Modifica rifornimento</span>
    </div>
    <div>
        <Card>
            <form>
                <div class="mb-3">
                    <label for="station" class="form-label">Stazione di servizio</label>
                    <input type="text" class="form-control text-uppercase" id="station" @bind=station />
                </div>
                <div class="mb-3">
                    <label for="date" class="form-label">Data</label>
                    <input type="date" class="form-control text-uppercase" id="date" @bind=date />
                </div>
                <div class="mb-3">
                    <label for="km" class="form-label">Km</label>
                    <input type="km" class="form-control text-uppercase" id="km" @bind=km />
                </div>
                <div class="mb-3">
                    <label for="consumptions" class="form-label">Consumi</label>
                    <input type="consumptions" class="form-control text-uppercase" id="consumptions" @bind=consumptions />
                </div>
                <div class="mb-3">
                    <label for="unitCost" class="form-label">Prezzo al litro</label>
                    <input type="unitCost" class="form-control text-uppercase" id="unitCost" @bind=unitCost />
                </div>
                <div class="mb-3">
                    <label for="liters" class="form-label">Litri</label>
                    <input type="liters" class="form-control text-uppercase" id="liters" @bind=liters />
                </div>
                <div class="mb-3">
                    <label for="autonomy" class="form-label">Autonomia</label>
                    <input type="autonomy" class="form-control text-uppercase" id="autonomy" @bind=autonomy />
                </div>
                <div class="d-flex justify-content-evenly">
                    <button class="rounded-pill py-2 px-3 btn-cancel fw-bold" @onclick=OnCancel>Annulla</button>
                    <button class="rounded-pill py-2 px-3 btn-save fw-bold" @onclick=OnSave>Salva</button>
                </div>
            </form>
        </Card>
    </div>
</div>

@code {
    [Parameter]
    public required string VehicleId { get; set; }
    [Parameter]
    public required string RefuelId { get; set; }

    public ClaimsPrincipal? principal;

    public Refuel? refuel;
    public bool isLoading = false;

    public string? station;
    public DateTime? date;
    public decimal? km;
    public decimal? consumptions;
    public decimal? unitCost;
    public decimal? liters;
    public decimal? autonomy;

    protected override async Task OnInitializedAsync()
    {
        isLoading = true;
        principal = await userManager.GetAuthenticatedUser();
        if (principal is null)
        {
            navigationManager.NavigateTo("", true, false);
            return;
        }

        refuel = await refuelService.GetById(RefuelId);

        station = refuel?.MeasuredData.Station;
        date = refuel?.MeasuredData.Date;
        km = refuel?.MeasuredData.Km;
        consumptions = refuel?.MeasuredData.Consumptions;
        unitCost = refuel?.MeasuredData.UnitCost;
        liters = refuel?.MeasuredData.Liters;
        autonomy = refuel?.MeasuredData.Autonomy;

        isLoading = false;
    }

    private void OnCancel()
    {
        navigationManager.NavigateTo($"/garage/{VehicleId}/refuels/{RefuelId}", true, false);
        return;
    }

    private async Task OnSave()
    {
        var result = await refuelService.Edit(new EditRefuelDTO
            {
                Id = refuel!.Id,
                Station = station ?? refuel!.MeasuredData.Station,
                Date = date ?? refuel!.MeasuredData.Date,
                Km = km ?? refuel!.MeasuredData.Km,
                Consumptions = consumptions ?? refuel!.MeasuredData.Consumptions,
                UnitCost = unitCost ?? refuel!.MeasuredData.UnitCost,
                Liters = liters ?? refuel!.MeasuredData.Liters,
                Autonomy = autonomy ?? refuel!.MeasuredData.Autonomy
            });

        if (!result.HasErrors)
        {
            navigationManager.NavigateTo($"/garage/{VehicleId}/refuels/{RefuelId}", true, false);
            return;
        }

        await dialogService.Alert("Attenzione", result.Errors.First(), "OK");
    }

}
