@using PCS.Auth.Services
@using PCS.Front.Shared.Services
@using PCS.Front.Components.Custom

@inject IUserManager userManager;
@inject NavigationManager navigationManager

<div class="nav-bar py-3">
    @foreach (var item in menuItems)
    {
        <MenuItem Item=@item />
    }
</div>
@code {
    public bool isLoading = false;

    private Shared.Models.MenuItem[] menuItems = [];

    protected override async Task OnInitializedAsync()
    {
        if (!await userManager.IsLogged())
        {
            navigationManager.NavigateTo("", false, false);
            return;
        }

        isLoading = true;

        menuItems = [
                new Shared.Models.MenuItem {
                    Icon = "bi bi-person-fill",
                    Label = "Profilo",
                    Ref = "profile"
                },
            new Shared.Models.MenuItem {
                    Icon = "bi bi-car-front-fill",
                    Label = "Garage",
                    Ref = "garage"
                },
            new Shared.Models.MenuItem {
                    Icon = "bi bi-file-earmark-text-fill",
                    Label = "Dati personali",
                    Ref = "personal-data"
                }
        ];
        isLoading = false;

        await base.OnInitializedAsync();
    }
}