.page {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

main {
    flex: 1;
}

.sidebar {
    background-color: #14213D;
    position: sticky;
    top: 0;
}

.bottom-row {
    background-color: #14213D;
    position: sticky;
    bottom: 0;
    height: 64px;
}

article {
    padding-left: 2rem !important;
    padding-right: 1.5rem !important;
}