@page "/dashboard"

@using PCS.Auth.Services
@using PCS.Front.Shared.Services

@inject IUserManager userManager;
@inject NavigationManager navigationManager;

<div>
    <PCS.Front.Components.Custom.Loader IsLoading=@isLoading>
        <h1>Ciao, @userName.</h1>

        Welcome to your new app.
    </PCS.Front.Components.Custom.Loader>
</div>

@code {
    public bool isLoading = false;
    public string? userName;

    protected override async Task OnInitializedAsync()
    {
        if (!await userManager.IsLogged())
        {
            navigationManager.NavigateTo("", false, false);
            return;
        }

        isLoading = true;
        userName = await userManager.GetUserName();
        isLoading = false;

        await base.OnInitializedAsync();
    }
}