@page "/login"

@using PCS.Auth.Services
@using PCS.Front.Shared.Services
@using PCS.Front.Components.Custom

@inject IUserManager userManager;
@inject IDialogService dialogService;
@inject NavigationManager navigationManager;

<div class="d-flex flex-column justify-items-center text-center">
    <div>
        <h1>🚗 PCS</h1>
        <h3 class="text-muted mb-3">Performance Control System</h3>
        <button class="btn btn-primary" @onclick="OnLogin" disabled="@isLoading">
            <Loader IsLoading=@isLoading>
                <span>&nbsp;Login</span>
            </Loader>
        </button>
    </div>
</div>

@code {
    public bool isLogged = false;
    public bool isLoading = false;
    public string? userName;

    protected override async Task OnInitializedAsync()
    {
        if (await userManager.IsLogged()) navigationManager.NavigateTo("garage", false, false);
    }

    private async Task OnLogin()
    {
        try
        {
            if (await userManager.IsLogged())
            {
                navigationManager.NavigateTo("garage", true, false);
                return;
            }

            isLoading = true;
            var user = await userManager.Login();
            isLoading = false;
            if (user is not null) navigationManager.NavigateTo("garage", true, false);
        }
        catch (Exception ex)
        {
            await dialogService.Alert("Alert", ex.Message, "OK");
        }
    }
}
