@page "/personal-data"

@using PCS.Auth.Services
@using PCS.Front.Components.Custom

@inject IUserManager userManager
@inject NavigationManager navigationManager

<div>
    <Loader IsLoading=@isLoading>
        <h1>Ciao, @userName.</h1>

        Welcome to your new app.
    </Loader>
</div>

@code {
    public bool isLoading = false;
    public string? userName;

    protected override async Task OnInitializedAsync()
    {
        if (!await userManager.IsLogged())
        {
            navigationManager.NavigateTo("", false, false);
            return;
        }

        isLoading = true;
        userName = await userManager.GetUserName();
        isLoading = false;

        await base.OnInitializedAsync();
    }
}